* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}
strong {
  font-weight: 800;
}
input[type='checkbox']:checked {
  accent-color: #10b981;
  color: #10b981;
}
.container {
  margin: 0 auto;
  width: 960px;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background: #1f2937;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  border: 6px solid white;

  /* shadow */
  -webkit-box-shadow: 1px 0px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 1px 0px 24px 0px rgba(66, 68, 90, 1);
}
.box-inside {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  width: fit-content;
}

/* font */
.box-title {
  font-size: 2.125rem;
  color: white;
  font-weight: 800;
}
.box-undertitle {
  color: white;
  font-size: 1.125rem;
}
.main-color {
  color: #10b981;
}
.btn-main {
  background: #10b981;
  color: white;
  font-weight: 600;
}
.btn-gen {
  color: #10b981;
  font-weight: 600;
}
#pass-el-one,
#pass-el-two {
  color: #10b981;
  font-weight: 500;
  font-size: 0.9rem;
}
.checkbox-gen {
  font-size: 1rem;
}
/* styling */
.box-title {
  width: 21rem;
  margin: 5rem 0 0 0;
}
.box-undertitle {
  margin: 1rem 0 4rem 0;
}
.box-underline {
  background-color: #2f3e53;
  width: 100%;
  height: 1px;
  margin: 2rem 0 0 0;
}
.box-generated-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.pass-box {
  width: 49%;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #273549;
  border-radius: 5px;
  padding: 0.1em 0.3em 0.1em 0.7em;
}
.generate-and-check {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.gen-but {
  width: 44%;
}
.checkbox-gen {
  width: 53%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chgeckbox-one,
.chgeckbox-two {
  display: flex;
  font: inherit;
  font-size: 0.8rem;
  color: #10b981;
  font-weight: 700;
  background: #2f3e53;
  padding: 0.6rem 0.7rem;
  border-radius: 5px;
  align-items: center;
}
#symbols {
  border: 0;
  background-color: #10b981;
}
/* btn */
.btn {
  padding: 0.8em 1.125em;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-main {
  transition: box-shadow 0.3s, transform 0.3s;
}
.btn-main:hover {
  -webkit-box-shadow: 1px 0px 24px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 0px 24px 0px rgba(0, 0, 0, 1);
  transform: translateY(-0.25em);
}
.btn-gen {
  background: #273549;
  width: 190px;
}
.pass {
  border: 0;
  width: 2.2rem;
  height: 2.2rem;
  background: none;
  color: #10b981;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.pass:hover {
  transform: translateY(-0.15em);
}
